header {
  //margin-bottom: 20px;
  .mat-button {
    min-width: 20px;
  }
  .logo {
    max-height: 70px;
    width: 100%;
  }
  .header-list {
    list-style: none;
    &__item {
      display: inline-block;
      padding: 10px;
      &:last-child {
        @media screen and (min-width: 1200px) {
          margin-left: 5rem;
        }
      }
      a {
        color: #333;
      }
    }
  }
}
