<header>
  <mat-card class="container-fluid p-2">
    <div class="container d-flex justify-content-between align-items-center">
      <a routerLink="home"><img src="./assets/images/logo.svg" alt="logo" class="logo"></a>
      <ul class="header-list">
        <li class="header-list__item" *ngFor="let item of menu">
          <a mat-button color="warn" routerLink="{{ item.href }}" class="d-flex align-items-center"><i class="material-icons mr-2">{{ item.icon }}</i> {{ item.name }} </a>
        </li>
      </ul>
    </div>
  </mat-card>
</header>
