<div class="mat-card p-0 m-3">
  <div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="items"
      [width]="1200"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
  </div>

  <ng-template #prev>
    <div class="" id="left"><i class="material-icons">keyboard_arrow_left</i></div>
  </ng-template>
  <ng-template #next>
    <div class="" id="right"><i class="material-icons">keyboard_arrow_right</i></div>
  </ng-template>
  <ng-template #item let-item let-i="index">
    <div class="mx-4 items d-flex flex-column justify-content-between align-items-center">
      <img [src]="item.img" class="img-fluid mb-3">
      <div class="text-center">
        <p class="">{{item.name}}</p>
        <p class="">$ {{item.price}}</p>
        <a mat-raised-button [routerLink]=[url,item.id] color="warn">View details</a>
      </div>
    </div>
  </ng-template>
</div>
