<div class="container-fluid footer d-flex align-items-center">
  <div class="container d-flex justify-content-between">
    <span class="d-flex align-items-center">
      <a href="" class="mr-3">Terms</a>
      <a target="_blank" href="../../../../assets/doc/The-CircleOne_Whitepaper_v.1.pdf" class="">WhitePaper</a>
    </span>
    <div class="d-flex align-items-center" style="font-size: 24px">
      <a class="mx-3" href="https://www.facebook.com/CircleOneMarketplace/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a class="mx-3" href="https://t.me/CircleOneMarketplace"><i class="fa fa-telegram" aria-hidden="true"></i></a>
      <a class="mx-3" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class="mx-3" href=""><i class="fa fa-btc" aria-hidden="true"></i></a>
      <a class="mx-3" href=""><i class="fa fa-medium" aria-hidden="true"></i></a>
      <a class="mx-3" href="https://www.linkedin.com/company/circle-one-marketplace/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <span class="d-flex align-items-center m-0">© 2018 Circle.One, All rights reserved</span>
  </div>
</div>
