@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "styles/fonts/index";
@import "~bootstrap/scss/bootstrap";

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
}
.app-content-g {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-footer-g {
  flex: 1;
}
a, button {
  text-decoration: none;
  color: #333333;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.h2-g {
  color: #555;
  font-weight: 100;
}


.mat-row {
  transition: .4s;
  cursor: pointer;
  &:hover {
    //background-color: rgba(246, 163, 140, 0.48);
  }
}
